<!DOCTYPE html>
<html>
    <head>
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <!-- JavaScript Bundle with Popper -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </head>
    <body>
        <header class="p-3 bg-dark text-white">
            <h1>AI_18 박경훈 Section4 project</h1>
            <h2>* 영화 총 관람객수 예측</h2>
        </header>
        <h3>API 목록</h3>
        <h4>/connect : db 연결</h4>
        <h4>/sql : db와 통신 (sql구문 입력)</h4>
        <h4>/predict : 관람객수 예측</h4>
        <h4>/dashboard : 대시보드 접속</h4>
    </body>
</html>